# 忽略所有文件夹内内容
*/
*/transcriptions.csv
*/*.wav
*/*.data
*/*.idx
*/*.pth
*.ipynb
*.csv
*.zip
*/__pycache__/*

# 取消忽略myfolder文件夹本身
!/data/
!/segments/
!/ckpt/
!/dictionary
!/configs/
!/modules/
!/modules/*
