.*/
__*__
data/binary/*
data/no_label/*
data/weak_label/*
data/full_label/*
ckpt/*
segments/*
.vscode/*
lightning_logs/*

*:Zone.Identifier
*.ipynb
*.zip
*.data
*.idx
*.wav
*.csv
*.TextGrid
*.h5
*.h5py
**/tmp**
**/test**

!.gitkeep
