# It is recommended to install torch and torchaudio manually.

click
einops
h5py
librosa<0.10.0
lightning
matplotlib
numpy
PyYAML
tensorboard
tqdm
textgrid
# chardet
numba

# torch
# torchaudio
pandas
